<% include layout-header %>
		
	<div class="container-container light-bg">
		<div class="container">
			
			<div class="hero">
				
				<div class="row">
					<div class="span8 offset2">
						
						<div class="logo">
							<span class="learn">learn</span>
							<span class="some">some</span>
							<span class="sql">SQL</span>
						</div>
						
					</div>
				</div>
				
				<div class="row">
					<div class="span8 offset2">
						<h3 class="skinny hero-subtext">
							Free Interactive SQL Query Tutorials. No experience necessary.<br><a href="/about">Learn more.</a>
						</h3>
					</div>
				</div>
				
			</div>
			
			<div class="lessons">
			
				<% for (var ll = 0; ll < lessonLists.length; ll++) { %>
				<% 
					var lessonList = lessonLists[ll]; 
				%>
					
					<div class="row">	
						<div class="span12">
							<div class="card">
								<div class="row-fluid">
									<div class="span4">
										<h1 class="card-title skinny ">
											<%= lessonList.listname %>
										</h1>
										<div class="card-description">
											<p>
												<%= lessonList.listDescription || "" %>
											</p>
										</div>
									</div>
									<div class="span8" style="padding-left: 50px;">
										<% for (var i = 0; i < lessonList.lessons.length; i++ ) { %>
											<% var lesson = lessonList.lessons[i]; %>
											
											<h3 class="lightHeading">
												<a class="lesson-list-lesson-link" href="/lesson/<%= lesson.lessonid %>" class=""><%= lesson.lessontitle %></a>
											</h3>
											<div>
												<p>
													<%= lesson.lessondescription %>
												</p>
											</div>
											<hr class="hr-lesson-list">
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				<% } %> <!-- end for each lessonList -->
			
			</div>
			
		</div>	<!-- container -->
	</div>
		

<% include layout-footer %>