<% include layout-header %>

<div class="container">
	<div class="hero">
		<div class="row">
			<div class="span5">
				<br>
				<br>
				<br>
				<h3 class="skinny hero-subtext">
					Free Interactive SQL Query Tutorials. No experience necessary.
					<br>
					<a class="hero-subtext-link" href="/about">Learn more.</a>
				</h3>
			</div>
			<div class="span7">

<pre class="right-perspective">
<code id="home-editor" class="sample-code">
	SELECT 
		some_column, 
		some_other_column 
	FROM 
		some_table 
	WHERE 
		some_column = 'some value' 
		AND some_other_column > 42

</code>
</pre>
			
			</div>
		</div> <!-- row -->
	</div>
</div>

<script>
	// Create CodeMirror
	var home = $('#home-editor').get(0);
	$(".sample-code").parent().addClass('cm-s-monokai');
	CodeMirror.runMode($(".sample-code").text(), 'text/x-mysql', $(".sample-code").parent().get(0));
</script>

<div id="main-body">
	
	<div class="container-container">
		<div class="container">
			<div class="lessons">
			
				<% for (var ll = 0; ll < lessonLists.length; ll++) { %>
				<% 
					var lessonList = lessonLists[ll]; 
				%>
					
					<div class="row">	
						<div class="span12">
							<div class="card">
								<div class="row-fluid">
									<div class="span4">
										<h1 class="card-title skinny ">
											<%= lessonList.listName %>
										</h1>
										<div class="card-description">
											<p>
												<%= lessonList.listDescription || "" %>
											</p>
										</div>
									</div>
									<div class="span8" style="padding-left: 50px;">
										<% if (lessonList.lessons && lessonList.lessons.length == 0) { %>
                                            <div>
                                                <p>
                                                    <br>
                                                    <i>More lessons coming soon - Check back later.</i>
                                                </p>  
                                            </div>
                                        <% } %>
                                        <% for (var i = 0; i < lessonList.lessons.length; i++ ) { %>
											<% var lesson = lessonList.lessons[i]; %>
											<h3 class="lightHeading">
												<a class="lesson-list-lesson-link" href="/lesson/<%= lesson.lessonId %>" class=""><%= lesson.lessonTitle %></a>
											</h3>
											<div>
												<p>
													<%= lesson.lessonDescription %>
												</p>
											</div>
											<hr class="hr-lesson-list">
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				<% } %> <!-- end for each lessonList -->
				
			</div> <!-- .lessons -->
		</div>	<!-- .container -->
	</div> <!-- .container-container -->
	
</div> <!-- #main-body -->	
<% include layout-footer %>