<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="Learn SQL useful for reports and data analysis with AnalystSQL. Our interactive tutorials teach you the basics of the SQL SELECT statement for beginners, as well as advanced techniques for the experienced SQL user.">
	<meta name="author" content="Rick Bergfalk, LearnSomeSQL.com">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
	================================================== -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' /> <!-- bootstrap, plus my customizations -->
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
	
	<!-- Javascript. TODO move this to the bottom
	================================================== -->
	<script src="/javascripts/everyone<%= dotMinIfProduction %>.js"></script>
	<% if (isEditor) { %>
	<script src="/javascripts/editor-addons<%= dotMinIfProduction %>.js"></script>
	<% } %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32751028-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
</head>

<body>
	
	<div class="main-nav">
		<div class="container">
			<div class="row">
				<!-- NO SPAN 12!!! -->
				<!-- because this needs to go full screen on lesson viewer... -->
				<a class="brand brand-logo pull-left" href="/">
					<span class="learn">Learn</span> 
					<span class="some">some</span> 
					<span class="sql">SQL</span>
				</a> 
				<div id="nav-menu" class="pull-right">	
					<% for (var i = 0; i < links.length; i++) { %>
						<a href="<%= links[i].url %>"><%= links[i].text %></a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="main-body">